<div class="header">
  <img src="assets/images/Logo and tagline.svg">
</div>

<div class="main-section">
  <div class="main">
    <p class="sub1">It's Great to see you Here</p>
    <div class="sub2">
      <p>At mundipharma we're comitted to meeting patients' needs, and we're proud of the impact we make, bringing
        innovative<br>
        treatments to help manage some of the world's most challenging health conditions.</p>
      <p>MundipharmaPro is created to give healthcare professionals easy accessto information about Mundipharma's
        products
        and <br>
        services as well as high quality resourcesto support continued medical educatioon.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="position">
      <div class="section">
        <h3 class="center">Choose your Region/Country</h3>
        <img class="groupImage" src="assets/images/Group_961.svg">
        <!-- <p class="groupImage"></p> -->
        <ul>
          <li><img class="image" src="assets/images/gb.svg">
            <p>UNITED KINGDOM</p>
          </li>
          <li><img class="image" src="assets/images/it.svg">
            <p>ITALY</p>
          </li>
          <li><img class="image" src="assets/images/es.svg">
            <p>SPAIN</p>
          </li>
          <li><img class="image" src="assets/images/nl.svg">
            <p>NETHERLAND</p>
          </li>
          <li><img class="image" src="assets/images/de.svg">
            <p>GERMANY</p>
          </li>
          <li><img class="image" src="assets/images/ie.svg">
            <p>IRELAND</p>
          </li>
        </ul>
      </div>
      <p class="item">The content of this website has been developed for healthcare professionals only | if you're
        patient or a member of
        the general<br>
        please visit <a href="">Mundipharma.com</a> </p>
    </div>
  </div>
</div>

<div class="footer">
  <h4>ABOUT US|STAY CONNECTED </h4>
  <p class="foot1">®: MUNDIPHARMA and “mundipharma” logo are registered trademarks of Mundipharma. | Copyright © 2021
    Mundipharma. All rights reserved.<br>
    Job code: MSS-NPR-2100002 Prepared: August 2021</p>
</div>