<div class="main-container">

  <h1 class="heading">Benefits of Registration</h1>
  <ul>
    <li>
      Earn CPD points with Napp Academy training and educational resources
    </li>
    <li>
      Exclusive webinars from industry leading experts on the topics that matter to you
    </li>
    <li>
      Latest updates on products and services offered and more
    </li>
    <li>
      Free patient resources
    </li>
  </ul>

  <div class="container">
    <p class="account-heading">Create Your Account</p>
    <div class="structure">
      <p>Basic Details</p>
      <div class="form-group1">
      <label>Country of Residence</label><br>
<input class="input1" type="text" placeholder="United Kingdom"></div>

      <div class="grid">
        <div class="form-group">
          <label>First name*</label>
          <br>
          <input class="plain-text1" type="text" placeholder="John">
        </div>
        <div class="form-group">
          <label> Surname*</label>
          <br>
          <input class="plain-text1" type="text" placeholder="Smith">
        </div>
      </div>


      <div class="form-group1">
      <label> Email Id*</label><br>
    <input class="sample-text" type="text" placeholder="Johnsmith@gmail.com"></div>


      <div class="form-group1">
      <label> Collegiate number / Medical ID*</label>
      <br>
      <input class="sample-text" type="text" placeholder="Placeholder">
      </div>

      <div class="grid">
        <div class="form-group">
          <label>Password*</label>
          <br>
          <input class="plain-text1" type="password" placeholder="">
          <div class="password-length">
            <br>
            <div>Password Strength <span class="icon">i</span>
            </div>
          </div>
          <!-- <img  class="login" src="assets/img/Group_234.svg"> -->
        </div>
        
        <div class="form-group">
          <label>Confirm Password*</label>
          <br>
          <input class="plain-text1" type="password" placeholder="">
        </div>
      </div>

    <div class="grid footer">
      <button class="login" >Cancel</button>
      <button class="login" >Save & Continue</button>
     
    </div>
     
  </div>

</div>
</div>